<!doctype html>
%html
  %head
    %title MangoBrowser - Browse MangoPay API
    %meta{:content => "mangopay,mangopay api,mangopay browser", :name => "keywords"}/
    %meta{:content => "MangoBrowser allows you to explore your MangoPay API account", :name => "description"}/
    %meta{:content => "Diacode. Diacode is a full stack Ruby on Rails development shop", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    = stylesheet_tag "app"
  %body.error-pages
    .error.container.row
      .message.small-10.small-centered.columns
        %h1 Oops! Something went wrong.
        %h2 Try Refreshing
